<launch>
  <arg name="in_depth" default="rgbd/depth"/>
  <arg name="in_rgb" default="rgbd/rgb"/>
  <arg name="in_camera_info" default="rgbd/info"/>
  <arg name="rgb_transporthint" default="compressed"/>
  <arg name="depth_transporthint" default="compressedDepth"/>

  <node pkg="turtlebot_rgbdslam" type="keyframe_livemapper_node" name="keyframe_livemapper_node" output="screen">
  <!-- 
    NOTE: if using data from OpenNI driver directly, (without 
    ccny_rgbd/rgbd_image_proc"), then add the following remappings. 
    Also add these to visual_odometry in visual_odometry.launch.
  -->
    <remap from="rgbd/depth/compressedDepth" to="$(arg in_depth)"/>
    <remap from="rgbd/rgb/compressed"   to="$(arg in_rgb)"/>
    <remap from="rgbd/info"  to="$(arg in_camera_info)"/>

    <param name="rgb_transporthint" value="$(arg rgb_transporthint)"/>
    <param name="depth_transporthint" value="$(arg depth_transporthint)"/>
    <param name="kf_dist_eps"  value="0.25"/> <!-- 25 cm -->
    <param name="kf_angle_eps" value="0.35"/> <!-- 20 deg -->
    <param name="full_map_res" value="0.01"/>
    <param name="max_range" value="7.0"/>
    <param name="max_stdev" value="0.05"/>
  </node>

</launch>
