<launch>
  <arg name="unwarp" default="false"/> 
  <arg name="scale" default="1.0"/> 

  <include file="$(find turtlebot_bringup)/launch/3dsensor.launch"/>

  <node pkg="nodelet" type="nodelet" name="rgbd_image_proc"
        args="load ccny_rgbd/RGBDImageProcNodelet $(arg camera)/manager"
        output="log">
    
    <!-- Resample by a factor of 2-->
    <param name="scale" value="$(arg scale)"/>
    <param name="unwarp" value="$(arg unwarp)"/>
    <param name="publish_cloud" value="$(arg publish_cloud)"/>
    <param name="calib_path" value="$(arg calib_path)"/>
    <param name="verbose" value="$(arg verbose)"/>
  </node> 


  <!-- Keyframe Sender --> 
  <include file="$(find turtlebot_rgbdslam)/launch/include/keyframe_sender.launch">
    <!-- incomming -->
    <arg name="in_depth"        value="rgbd/depth"/>
    <arg name="in_rgb"          value="rgbd/rgb"/>
    <arg name="in_camera_info"  value="rgbd/info"/>
  
    <!-- outgoing data -->
    <arg name="out_depth"       value="keyframes/depth"/>
    <arg name="out_rgb"         value="keyframes/rgb"/>
    <arg name="out_camera_info" value="keyframes/camera_info"/>
  </include>
</launch>
