<launch>

  <!-- Uses ccny custom version of openni launcher -->
<!--  <include file="$(find turtlebot_rgbdslam)/launch/include/openni.launch"/>-->

  <!-- Keyframe Sender --> 
  <include file="$(find turtlebot_rgbdslam)/launch/include/keyframe_sender.launch">
    <!-- incomming -->
    <arg name="in_depth"        value="rgbd/depth"/>
    <arg name="in_rgb"          value="rgbd/rgb"/>
    <arg name="in_camera_info"  value="rgbd/info"/>
  
    <!-- outgoing data -->
    <arg name="out_depth"       value="keyframes/depth"/>
    <arg name="out_rgb"         value="keyframes/rgb"/>
    <arg name="out_camera_info" value="keyframes/camera_info"/>
  </include>
</launch>
